<!DOCTYPE html>
<html>
<head>
  <title>Telemed | <%= yield(:title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--header and footer-->
<div id="header">
	<div id="logo", onclick="location.href='http://www.gmail.com';" style="cursor:pointer;"> Telemed </div>
	<div class="items">
		
		<%= link_to "http://www.facebook.com", id:"item" do %> Home <% end %>
		<%= link_to "http://www.facebook.com", id:"item" do %> About <% end %>
		<%= link_to "http://www.facebook.com", id:"item" do %> Log In <% end %>
	</div>
</div>

<div id="footer"></div> 

<!-- body -->

<%= yield %>

</body>
</html>
